<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AirlinesApp</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>aircompany.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>aircompany.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>aircompany.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightsServlet</display-name>
    <servlet-name>FlightsServlet</servlet-name>
    <servlet-class>aircompany.FlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightsServlet</servlet-name>
    <url-pattern>/FlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>status.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>aircompany.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnauthorizedServlet</display-name>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <servlet-class>status.UnauthorizedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnauthorizedServlet</servlet-name>
    <url-pattern>/UnauthorizedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirportServlet</display-name>
    <servlet-name>AirportServlet</servlet-name>
    <servlet-class>aircompany.AirportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirportServlet</servlet-name>
    <url-pattern>/AirportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersViewServlet</display-name>
    <servlet-name>UsersViewServlet</servlet-name>
    <servlet-class>aircompany.UsersViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersViewServlet</servlet-name>
    <url-pattern>/UsersViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>aircompany.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightViewServlet</display-name>
    <servlet-name>FlightViewServlet</servlet-name>
    <servlet-class>aircompany.FlightViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightViewServlet</servlet-name>
    <url-pattern>/FlightViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightsViewServlet</display-name>
    <servlet-name>FlightsViewServlet</servlet-name>
    <servlet-class>aircompany.FlightsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightsViewServlet</servlet-name>
    <url-pattern>/FlightsViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketsServlet</display-name>
    <servlet-name>TicketsServlet</servlet-name>
    <servlet-class>aircompany.TicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketsServlet</servlet-name>
    <url-pattern>/TicketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketsViewServlet</display-name>
    <servlet-name>TicketsViewServlet</servlet-name>
    <servlet-class>aircompany.TicketsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketsViewServlet</servlet-name>
    <url-pattern>/TicketsViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggedInUserServlet</display-name>
    <servlet-name>LoggedInUserServlet</servlet-name>
    <servlet-class>aircompany.LoggedInUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggedInUserServlet</servlet-name>
    <url-pattern>/LoggedInUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirportsServlet</display-name>
    <servlet-name>AirportsServlet</servlet-name>
    <servlet-class>aircompany.AirportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirportsServlet</servlet-name>
    <url-pattern>/AirportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsServlet</display-name>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>aircompany.ReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/ReportsServlet</url-pattern>
  </servlet-mapping>
</web-app>